<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-md-8">
      <h4 class="text-primary"><span class="glyphicon glyphicon-stats"></span> Your existing metrics</h4>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter metric name or part of a metric name to filter">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <br/>
      <div class-"row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Metric Name</th>
              <th>Metric Source</th>
              <th>Anomalies Detected</th>
              <th>Last Alert</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in metrics.datapoints">
              <td>{{item.row_no}}</td>
              <td>{{item.metric_name}}</td>
              <td>{{item.source}}</td>
              <td>
                <a class="btn btn-danger btn-xs" type="button" ng-hide="item.anomalies == null" href="http://10.0.1.24:8080/#/dashboard/file/default.json">
                  Alerts <span class="badge">{{item.anomalies}}</span>
                </a>
                <span ng-show="item.anomalies == null">None</span>
              </td>
              <td>{{item.recent_anomaly}}<span ng-show="item.recent_anomaly == null">None</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="well">
        <h4 class="text-primary"><span class="glyphicon glyphicon-plus"></span> Define a new metric</h4>
        <small>Connect to a data source to configure inputs for the metric.</small>
        <br/>
        <br/>
        <form role="form">
          <div class="form-group">
            <label for="selectDb">Database Type</label>
            <select class="form-control" id="selectDb" ng-model="db.type">
              <option>MySQL</option>
              <option>Postgres</option>
              <option>Redshift</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputDbname">Database Name</label>
            <input type="text" class="form-control" id="inputDbname" ng-model="db.name" placeholder="Enter database name">
          </div>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" ng-model="db.username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" ng-model="db.password" placeholder="Enter password">
          </div>
          <center><a class="btn btn-primary" href="#/newmetric" ng-disabled="isCreateDisabled()">Create New Metric</a></center>
        </form>
      </div>
    </div>
  </div>
</div>